.text {
    color: white !important;
}

.button {
    background-color: rgb(124, 124, 232);
    border-radius: 10px;
    font-family: monospace;
    font-size: 25px;
    margin: 10px;
}

.card {
    display: inline-block;
    margin: 15px;
    border-radius: 25px;

}

.price {
    color: red;
}

.firstdiv {
    border: 2px solid blue;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(166, 166, 204);
    color: blue;
    font-family: monospace;
}

#totalprice {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.button1 {
    background-color: #b46161;
    border-radius: 10px;
    font-family: monospace;
    font-size: 25px;
    margin-left: 400px;
    margin-top: 7px;
    position: relative;
    top: -78px;
    width: 40px;
}


/*VIEW CART:--*/
.button2 {
    background-color: #b46161;
    border-radius: 10px;
    font-family: monospace;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    top: -5px;
    left: 132px;
}


#checkout {
    background-color: #b46161;
    border-radius: 10px;
    font-family: monospace;
    font-size: 25px;
    margin: auto;
    margin-bottom: -8px;
    position: relative;
    top: -67px;
    display: none;
    left: -87px;
}

#paymentDiv {
    border: 2px solid black;
    margin: auto;
    width: 500px;
    height: 363px;
    margin-top: 100px;
    border-radius: 15px;
    padding: 25px;
    background-color: #bfbff7;
    font-family: cursive;
    text-align: center;
}

.emptybox {
    color: red;

    width: 700px;
    margin: auto;
    margin-top: 100px;
}

.image {
    margin-left: 92px;
}

#successmessage{
    margin: auto;
    text-align: center;
    border: 2px solid white;
    width: 602px;
    padding: 50px;
}







/*HOME PAGE STYLES:-*/
#bodyimage{
    height: 800px;
    background-image: url('https://images.unsplash.com/photo-1458253756247-1e4ed949191b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFyayUyMGZvb2QlMjBwaG90b2dyYXBoeXxlbnwwfHwwfHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    
}
.heading {
    font-family: 'Akronim';
    font-size: 50px !important;
}


.title1 {
    font-family: 'Akronim';
    text-align: center;
    font-size: 30px;
    margin-top: 180px;
    color: rgb(207, 189, 224);
    background-color: rgb(3, 3, 155);
    opacity:60%;
}

.title2 {
    font-family: 'Aclonica';
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    color: rgb(182, 151, 211);
    background-color: rgb(3, 3, 155);
    opacity:60%;
}

.headingImage {
    margin-left: 253px;
    width: 800px;
}

.registration-form {
    width: 700px;
    border: 2px solid;
    padding: 25px;
    margin: 10% auto;
    border-radius: 10px;
    display: none;
    font-family:Helvetica;
    background-color: rgb(93 93 233);
    font-size:25px;
    opacity:75%;
}



.loginformStyle {
    width: 500px;
    border: 2px solid;
    padding: 25px;
    margin: 10% auto;
    border-radius: 10px;
    display: none;
    background-color: rgb(157, 157, 166);
    background-color: rgb(93 93 233);
    font-family:Helvetica;
    font-size:25px;
    opacity:75%;

}



#signupsuccess {
    font-family: Cursive;
    color: green;
    background-color: white;
    display: none;
    text-align: center;
    margin:auto;
    margin-top: 192px;
    width:700px;
    opacity:80%;
    
}



#paymentSubmit {
    border-radius: 10px;
    margin: 3px 0px 0px -80px;
    position: relative;
    bottom: -54px;
    right: 79px;
}

#processmessage {
    display: none;
    width: 700px;
    position: relative;
    top: -282px;
    right: 112px;
}


#rejectmessage {
    display: none;
}


/*
.signupformStyle {
    border: 2px solid black;
    width: 700px;
    border-radius: 15px;
    margin-top: 50px;
    display: none;
    padding: 40px !important;
    background-color: rgb(93 93 233);
    opacity:75%;
}
*/